<!-- Container (The Band Section) -->
<div id="c2" class="container-fluid text-center bg-2">
    <h1 style="color: white; margin-top: 50px; margin-bottom: 50px; font-size: 41px">What is Renew and how does it help you make a difference?</h1>
    <p style="color:white" class="text-center">

        <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Begin page content -->
        <div class="center-container">
            <div class="center-row">

                <div class="col-md-6 bg-two text-center" style="color: white; padding-top: 5%;text-align: left"><h2> Renew is an app that
                    helps consumers find green businesses to shop at.</h2> <br><br>   We believe that small changes lead to bigger ones,
                    and we, as individuals can influence businesses invest in sustainability.

                    We plan to achieve this by aggregating data from AMEE and BREEM's APIs. AMEE provides an API with
                    sustainability businesses throughout the UK, while BREEM provides certificates based on a
                    sustainability assessment for different buildings and infrastructures. By combining these two data
                    sets we try to achieve a map that shows levels of sustainability and emerging trends. We try to
                    underline your impact throughout the years on the environment and the way you can encourage
                    businesses to become the key players in the energy consumption problem.
                </div>

                <div class="col-md-6 bg-one text-center">
                    <img id='map' src="images/screen.png" class="img-responsive margin" style="display:inline"
                         alt="Bird" width="50%">
                </div>
            </div>
        </div>
    </div>

</div>


