
<!-- Container (The Band Section) -->
<div id="c2" class="container-fluid text-center bg-2">
    <h2 style="color: white">About</h2>
    <p style="color:white" class="text-center">Renew is an app that helps consumers find green businesses to shop at. We believe that small changes lead to bigger ones, and we, as individuals can influence businesses invest in sustainability.

        We plan to achieve this by aggregating data from AMEE and BREEM's APIs. AMEE provides an API with sustainability businesses throughout the UK, while BREEM provides certificates based on a sustainability assessment for different buildings and infrastructures. By combining these two data sets we try to achieve a map that shows levels of sustainability and emerging trends. We try to underline your impact throughout the years on the environment and the way you can encourage businesses to become the key players in the energy consumption problem.</p>
</div>
	