
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h2 class="margin" >Is the world running on renewable yet?</h2>
    <img src="images/WorldView.png" class="img-responsive margin" style="display:inline" alt="Bird" style="color: red">
</div>

