

<!-- First Container -->
<div class="container-fluid bg-1 text-center" >
    <h1 class="margin" style="color: white; padding-top: 30px; font-size: 41px; margin-top:45px">Is the world running on renewable yet?</h1>

<!--    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1default" onclick='document.getElementById("map").src = "images/World.png";'>Now</a></li>
        <li onclick='document.getElementById("map").src = "images/World0.png";'><a href="#tab2default" data-toggle="tab">The future</a></li>
    </ul>-->

    <style>
        .nav-tabs > li, .nav-pills > li {
            color: white !important;
            border: thin white solid;
            float:none;
            display:inline-block;
            *display:inline; /* ie7 fix */
            zoom:1; /* hasLayout ie7 trigger */
        }

        .nav-pills > li > a {
            color: white !important;
        }

        .nav-tabs, .nav-pills {
            color: white !important;
            margin-top: -5px;
            margin-bottom: 35px;
            text-align:center;
        }

        .nav-pills li {

            background-color: rgba(255, 255, 255, 0) !important;

        }

        .nav-pills li a{

            background-color: rgba(255, 255, 255, 0) !important;

        }

        .nav-pills li:hover a {
            background-color: rgba(255, 255, 255, 0);
            color: #2b618d !important;

        }
    </style>

    <ul class="nav nav-pills" style="">
        <li onclick='document.getElementById("map").src = "images/World.png";'><a href="#">Now</a></li>
        <li onclick='document.getElementById("map").src = "images/WorldFuture.png";'><a href="#">The Future</a></li>
    </ul>

    <img id='map' src="images/World.png" class="img-responsive margin" style="display:inline" alt="Bird" width="80%">
</div>


