<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Renew | change the world one coffee at a time</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://use.fontawesome.com/d3762e452d.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top" style="background-color: white !important;">
    <div class="container ">

        <div class="navbar-header ">
            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                <img style="max-width:150px; margin-top: -28px;"
                     src="images/logo1.png">
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <div class="winner">
                    <div class="container-V1gwa6EZtLPWFqzCds8Xl">
                        <img src="images/winnerLogo.png" width="30" height="48" data-tip="Local People's Choice Winner" role="presentation" currentitem="false">
                        <span class="text-2K2tIgFkrrmOs38eU_iMcM">Local People's Choice Winner</span>
                    </div>
                </div>
                <!--<li><a href="/about">About</a></li>-->
                <!-- <li><a href="https://2017.spaceappschallenge.org/">Space Apps 2017</a></li>-->
            </ul>
            <!--            <form class="navbar-form navbar-right" role="search" method="get" id="searchform" action="">
                            <div class="form-group">
                                <input name="s" id="s" type="text" class="search-query form-control" autocomplete="off" placeholder="Search...">
                            </div>
                        </form>-->
        </div>

    </div>
</div>

{{{body}}}
</body>
</html>
